body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  position: relative;
  line-height: 1;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6, body, p, ul {
  margin: 0; }

ul {
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }


.logo {
  height: 30px;
  margin: 50px 0 0 80px;
 }

.nav_logo {
  padding: 8px;
  display: inline-block; 
}
 
.nav_text {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff; }

nav {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1400px;
  height: 110px;
  line-height: 20px;
  z-index: 10;
  background-color: rgba(21, 26, 39, 0.4); }
  @media only screen and (min-width : 1400px)
{
  nav 
  {
    left: 50%;
    margin-left: -700px;
  }
}

@media only screen and (max-width : 768px)
{
  nav 
  {
    background-color: transparent;
  }
}


.nav_menu {
  margin-right: 80px; }

.menu_btn
{
  width: 50px;
  height: 50px;
  padding: 0;
  line-height: 1;
}
  .menu_btn >img
  {
    width: 60%
  }


.top_menu {
  float: right; }
  .top_menu > li {
    float: left; }

.top_menu_link {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  padding: 32px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

  .top_menu_link:hover {
    color: gray; }

header {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center; }

.book {
  position: absolute;
  right: 5px;
  bottom: 15px;
  height: 60px;
  line-height: 60px;
  width: 200px;
  color: #d89b64;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 2px 15px -5px #ffffff;
  -moz-box-shadow: 0 2px 15px -5px #ffffff;
  -o-box-shadow: 0 2px 15px -5px #ffffff;
  box-shadow: 0 2px 15px -5px #ffffff;
  }
@media only screen and (max-width: 1200px) {
    .book {
      padding-bottom: 10px;
      width: 150px;
    }
}
 
 @media only screen and (max-width: 950px) {
    .book {
      width: 100px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      font-weight: 500;
      background-color: rgba(0, 0, 0, 0.3);
    }
}

.perfection {
  margin: 0 auto;
  max-width: 1400px;
  padding: 50px 0;
}

.container {
  text-align: center; }

.section_title {
  margin-top: -220px;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  z-index: 2;
  position: relative;
   }

.section_title_text {
  font-family: "Crimson";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: #8b909d;
  padding: 35px;
  z-index: 2;
  position: relative; 
}

.bg_text {
  text-align: center;
  font-family: "Selima";
  font-weight: 700;
  font-size: 280px;
  color: #f3f3f5;
  z-index: 1;
  position: relative; 
}
.container_flex {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  height: 500px; }

  @media only screen and (max-width: 850px) {
    .container_flex {
      margin-top: 100px;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      height: 1500px;
    }
}

  .container_flex .item:nth-child(1) {
    margin: 120px 0;
    width: 33%;
    height: 75%;
    background-image: url("../img/dessert.jpg");
    background-size: cover;
    background-position: center;
     }
  .container_flex .item:nth-child(2) {
    margin: 60px 0;
    width: 28%;
    height: 100%;
    background-image: url("../img/smoothy.jpg");
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0 -5px 150px -5px #d0c9cf;
    -moz-box-shadow: 0 -5px 150px -5px #d0c9cf;
    box-shadow: 0 -5px 150px -5px #d0c9cf; }
  .container_flex .item:nth-child(3) {
    margin: 120px 0;
    width: 33%;
    height: 75%;
    background-image: url("../img/breakfast.jpg");
    background-size: cover;
    background-position: center; 
  }

@media only screen and (max-width: 850px) {
    .container_flex .item:nth-child(n) {
      margin: 10px 0;
      width: 100%;
    }
}

.item {
  position: relative;
  overflow: hidden; }
  .item:hover .item_content {
    top: 0; }

.item_content {
  transition: all 0.4s;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column; }

.item:nth-child(1) .item_content, .item:nth-child(3) .item_content {
  background-color: rgba(0, 0, 0, 0.7); }
  .item:nth-child(1) .item_content .content_title, .item:nth-child(3) .item_content .content_title {
    font-size: 48px;
    color: #d89b64;
    font-weight: 800;
    text-transform: uppercase; }
  .item:nth-child(1) .item_content .line, .item:nth-child(3) .item_content .line {
    height: 2px;
    width: 45px;
    background-color: #d89b64;
    margin: 32px; }
  .item:nth-child(1) .item_content .content_text, .item:nth-child(3) .item_content .content_text {
    font-size: 22px;
    font-family: "Crimson";
    font-weight: 500;
    word-spacing: 1px; }
.item:nth-child(2) .item_content {
  padding: 150px 0; }
  .item:nth-child(2) .item_content .content_title {
    font-size: 48px;
    color: #000;
    font-weight: 800;
    text-transform: uppercase; }
  .item:nth-child(2) .item_content .line {
    height: 2px;
    width: 45px;
    background-color: #ffffff;
    margin: 32px; }
  .item:nth-child(2) .item_content .content_text {
    font-size: 24px;
    font-family: "Crimson";
    font-weight: 500;
    word-spacing: 1px;
    color: #8b909d;
    text-align: center; }


.check {
  margin: 160px 0 90px;
  text-align: center;
  position: relative; 
}

.check_link {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #d89b64;
  border-bottom: 1px solid #d89b64; }

.details {
  margin: 0 auto;
  max-width: 1400px;
  height: 75vh;
  position: relative;
  background-image: url("../img/details.jpg");
  background-size: cover;
  text-align: center;
  overflow: hidden; }

.card {
  background-color: #ffffff;
  margin: 6% auto;
  padding: 40px 40px 80px;
  width: 45%;
  display: block;
  outline: 1px solid #e2e3e6;
  outline-offset: -40px; }

.title_card {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 50px 0 0; }

.card_text {
  font-size: 24px;
  font-weight: 500;
  font-family: "Crimson";
  color: #8b909d;
  padding: 50px 0 70px; }

.card_link {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #d89b64;
  border-top: 1px solid #e2e3e6;
  padding-top: 40px;
  letter-spacing: 2px; }

.reach {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1400px;
  }

.container_info {
  margin-top: 100px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  height: 300px;
  width: 100%;
  -webkit-align-items: center; 
  align-items: center; }

.item_info {
  margin: 0 10px;
  padding: 50px 10px 0;
  width: 33%;
  height: 100%;
  background-color: #f3f3f5;
  overflow: hidden;
  position: relative;
}
  .item_info:hover .item_info_overlay {
    top: 0; }
  .item_info:hover .item_text {
    color: #fff; }
  }

.item_title {
  text-transform: uppercase;
  font-size: 24px;
  z-index: 3;
  color: #d89b64;
  padding-top: 23%; }

.item_text {
  font-family: "Crimson";
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 4px;
  color: #8b909d;
  padding: 35px;
  z-index: 3;
   }

.item_bg_text {
  margin-top: -55%;
  font-family: "Selima";
  font-weight: 700;
  font-size: 230px;
  color: #ffffff;
  z-index: 2; }

.item_info_overlay {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: #111621;
  font-family: "Selima";
  font-weight: 700;
  font-size: 230px;
  color: #171e2c; }

footer {
  margin: 0 auto 30px;
  max-width: 1400px;
  position: relative;
  text-align: center; }

.line_logo {
  margin: 70px 0 0;
  height: 1px;
  background-color: #e2e3e6;
  position: relative;
  z-index: 1; }

.logo_footer {
  width: 140px;
  padding: 70px 0;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #e2e3e6;
  border-radius: 70px;
  background-image: url("../img/icon.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  position: relative;
  margin-top: -70px; }

.bottom_info {
  margin: 40px 0 0; }

.title_footer {
  font-size: 18px;
  font-weight: 800; }

.rights {
  font-size: 18px;
  font-weight: 500;
  font-family: "Crimson";
  color: #8b909d;
  padding: 25px 0 40px; }

.line_footer {
  width: 150px;
  height: 1px;
  background-color: #e2e3e6;
  margin: auto; }

.social {
  height: 45px;
  margin-top: 30px; }

.social_buttom {
  width: 100%; }

.icon {
  padding: 0 7px;
  display: inline-block; 
}
@media only screen and (max-width: 1024px) {
  header {
    height: 40vh;
  }
}

@media only screen and (max-width: 850px) {
    .container_info {
      height: auto;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
    }
    .item_info {
       width: 100%;
       height: 230px;
       margin: 10px 0;
    }
    .card {
      height: auto;
      width: 60%;
    }
    .bg_text {
       font-size: 180px;
    }
    .section_title{
      margin-top: -120px;
    }
  }
  @media only screen and (max-width: 768px) {
    .top_menu {
      margin-right: 0;
    }
    .top_menu li {
      float: none;
      clear: both;
    }
    .menu_btn {
      margin: -30px -50px 0;
    }
    .logo {
      margin: 10px 0 0 30px;
    }
}
@media only screen and (max-width: 600px) {
    .container_flex {
      margin: 0;
    }
    .check {
      margin: 50px 0;
    }
    .card_text {
      padding: 10px 0 50px;
    }
    .container_info {
      margin-top: 0;
    }
    .bg_text {
       font-size: 80px;
    }
}
@media only screen and (max-width: 500px) {
  .title_card,h1,h2 {
    font-size: 28px;
  }
  .card {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .card_link {
    font-size: 10px;
  }
}
  @media only screen and (max-width: 320px) {
  .title_card,h1,h2 {
    font-size: 20px;
  }
}